[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=19,<20"
flake8 = "~=3.7"

[packages]
django = "~=2.2"
django-webpack-loader = "~=0.6"
django-static-jquery = "==2.1.4"
requests = "~=2.22"
django-heroku = "~=0.3"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
