<div class="card">
  <div class="card-image">
    {% comment %} <figure class="image is-480x640">
      <img src="https://bulma.io/images/placeholders/480x640.png" alt="Placeholder image">
    </figure> {% endcomment %}
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <p class="title is-4">Nombre: John Doe</p>
        <p class="subtitle is-6">Visto por última vez en <a href="#">un lugar</a> el 21 de octubre a las 23:47</p>
        <p>Encontrado: <i class="fas fa-check"></i></p>
      </div>
    </div>
  </div>
</div>
