{% load static %}
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">

    <!-- logo or branding image on left side -->
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'landing' %}">
        <strong>¿Dónde Estás?</strong>
      </a>
    </div>

    <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
    <div class="navbar-menu" id="navbar-menu">
      <!-- navbar items | left side -->
      <div class="navbar-start">
      </div>

      <!-- navbar items | right side -->
      <div class="navbar-end">
        <a class="navbar-item is-active" href="{% url 'landing' %}"> Home</a>
        <a class="navbar-item" href="{% url 'missing' %}">Buscar a alguien</a>
        <a class="navbar-item" href="{% url 'register' %}">Registrar a alguien</a>
      </div>

    </div>
  </div>
</nav>
