{% extends 'base.html' %}
{% block content %}
  {% for person in people %}
  {% if forloop.counter0|divisibleby:cards_per_line %}
  <div class="columns">
  {% endif %}
    <div class="column">
    {% if person %}
      {% include '_card.html' with not_empty=True first_name=person.name last_name=person.last_name id=person.id time=person.created_date%}
    {% else %}
      {% include '_card.html' with not_empty=False %}
    {% endif %}
    </div>
  {% if forloop.counter|divisibleby:cards_per_line %}
  </div>
  {% endif %}
    {% endfor %}
{% endblock content %}
