{% extends 'base.html' %}

{% block content %}
<div id="register-wrapper">
  <form class="abstract" id="register">
    <div class="field">
      <div class="control">
        <label class="label" for="first_name">Nombres del desaparecido:</label>
        <input class="input is-primary" type="text" placeholder="Nombres" name="first_name">
      </div>
    </div>

    <br>
    <div class="field">
      <div class="control">
        <label class="label" for="last_name">Apellidos del desaparecido:</label>
        <input class="input is-primary" type="text" placeholder="Apellidos" name="last_name">
      </div>
    </div>

    <br>
    <div class="field">
      <div class="control">
        <label class="label" for="missing_number">Teléfono del desaparecido:</label>
        <input class="input is-primary" type="tel" placeholder="Teléfono" name="missing_number">
      </div>
    </div>

    <br>
    <div class="field">
      <div class="control">
        <label class="label" for="contact_number">Tu teléfono:</label>
        <input class="input is-primary" type="tel" placeholder="Teléfono" name="contact_number">
      </div>
    </div>

    <br>
    <div class="control">
      <input type="submit" class="button is-primary" value="Registrar">
    </div>
  </form>
</div>
{% endblock content %}

