{% extends 'base.html' %}

{% block content %}
<div class="notification is-danger" id="registration-error" style="display: none">
  <button class="delete"></button>
  Ha ocurrido un error. Inténtelo nuevamente.
</div>
<div class="notification is-info" id="registration-success" style="display: none">
  <button class="delete"></button>
  Persona desaparecida registrada con éxito.
</div>

<form class="abstract" id="registration-form" method="post" action="{% url 'register' %}">
  {% csrf_token %}

  <div class="field">
    <div class="control">
      <label class="label" for="{{ form.first_name.id_for_label }}">Nombres de persona desaparecida:</label>
      {{ form.first_name }}
    </div>
  </div>

  <br>
  <div class="field">
    <div class="control">
      <label class="label" for="{{ form.last_name.id_for_label }}">Apellidos de persona desaparecida:</label>
      {{ form.last_name }}
    </div>
  </div>

  <br>
  <div class="field">
    <div class="control">
      <label class="label" for="{{ form.missing_mail.id_for_label }}">Email de persona desaparecida:</label>
      {{ form.missing_mail }}
    </div>
  </div>

  <br>
  <div class="field">
    <div class="control">
      <label class="label" for="{{ form.contact_mail.id_for_label }}">Tu email:</label>
      {{ form.contact_mail }}
    </div>
  </div>

  <br>
  <div class="control">
    <button type="submit" id="registration-button" class="button is-primary">Registrar</button>
  </div>
</form>
{% endblock content %}
